In [147]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [176]:
df = pd.read_csv(r"E:\GEProject\generic_ballot_pollsNEW.csv")
df.head()
df.stb.freq(['parliament'])

          parliament  count   percent  cumulative_count  cumulative_percent
0             GOMBAK    245  4.401725               245            4.401725
1             TEBRAU    218  3.916637               463            8.318361
2             SEPANG    198  3.557312               661           11.875674
3         BATU PAHAT    188  3.377650               849           15.253324
4             TAMBUN    187  3.359684              1036           18.613008
5       KUALA LANGAT    187  3.359684              1223           21.972691
6    HULU TERENGGANU    159  2.856630              1382           24.829321
7             AMPANG    159  2.856630              1541           27.685950
8        KUBANG PASU    150  2.694934              1691           30.380884
9      TANJONG MALIM    142  2.551204              1833           32.932088
10        ALOR GAJAH    142  2.551204              1975           35.483291
11  BANDAR TUN RAZAK    140  2.515271              2115           37.998563
12       TANAH MERAH    137  2.461373              2252           40.459935
13    INDERA MAHKOTA    136  2.443406              2388           42.903342
14     LEMBAH PANTAI    134  2.407474              2522           45.310816
15     BUKIT GANTANG    132  2.371542              2654           47.682357
16      NIBONG TEBAL    131  2.353575              2785           50.035932
17       BAGAN SERAI    126  2.263744              2911           52.299677
18       SETIAWANGSA    121  2.173913              3032           54.473590
19     TASEK GELUGOR    120  2.155947              3152           56.629536
20       PASIR SALAK    118  2.120014              3270           58.749551
21       KUALA PILAH    118  2.120014              3388           60.869565
22             PAGOH    115  2.066116              3503           62.935681
23             KUDAT    115  2.066116              3618           65.001797
24            JERLUN    113  2.030183              3731           67.031980
25             LARUT    111  1.994251              3842           69.026231
26           SEGAMAT    109  1.958318              3951           70.984549
27        TITIWANGSA    108  1.940352              4059           72.924901
28      MASJID TANAH    108  1.940352              4167           74.865253
29        SRI GADING    106  1.904420              4273           76.769673
30              MUAR    105  1.886453              4378           78.656126
31           MERSING    105  1.886453              4483           80.542580
32      SUNGAI BESAR    101  1.814589              4584           82.357169
33              JELI    100  1.796622              4684           84.153791
34       BAGAN DATUK     98  1.760690              4782           85.914481
35      SABAK BERNAM     94  1.688825              4876           87.603306
36             RANAU     93  1.670859              4969           89.274165
37   SIMPANG RENGGAM     91  1.634926              5060           90.909091
38           LIBARAN     89  1.598994              5149           92.508085
39          LANGKAWI     87  1.563061              5236           94.071146
40           BELURAN     75  1.347467              5311           95.418613
41          BEAUFORT     71  1.275602              5382           96.694215
42     PADANG RENGAS     70  1.257636              5452           97.951851
43          SIPITANG     67  1.203737              5519           99.155587
44         PUTRAJAYA     47  0.844413              5566          100.000000

In [177]:
from IPython.html import widgets
from IPython.display import display

geo={'JOHOR':['SEGAMAT','PAGOH'],'KEDAH':['LANGKAWI','LED'],'PERAK':['BAGAN DATUK']}

def print_city(city):
    print (city)

def select_city(state):
    cityW.options = geo[state]


scW = widgets.Dropdown(options=geo.keys())
init = scW.value
cityW = widgets.Dropdown(options=geo[init])
j = widgets.interactive(print_city, city=cityW)
i = widgets.interactive(select_city, state=scW)
display(i)
display(j)

interactive(children=(Dropdown(description='state', options=('JOHOR', 'KEDAH', 'PERAK'), value='JOHOR'), Outpu…

interactive(children=(Dropdown(description='city', options=('SEGAMAT', 'PAGOH'), value='SEGAMAT'), Output()), …

In [178]:
pd.set_option('display.max_columns', None)

In [179]:
#df = df[df['state']==scW.value]
df = df[df['parliament']==cityW.value]
df.head()

,no,state,kodpar,parliament,PDM,gov,opp,total voters,opp_poll,gov_poll
1741,1,PERAK,P.075,BAGAN DATUK,UNDI POS,77.62,22.38,983,220,763
1742,2,PERAK,P.075,BAGAN DATUK,UNDI AWAL,92.59,7.41,54,4,50
1743,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,98.77,1.23,81,1,80
1744,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,55.60,44.40,277,123,154
1745,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,59.91,40.09,217,87,130

In [180]:
import sidetable

In [181]:
results_df = pd.read_csv(r"E:\GEProject\generic_ballot_pollsNEW.csv")

In [182]:
results_df.head()

,no,state,kodpar,parliament,PDM,gov,opp,total voters,opp_poll,gov_poll
0,1,KEDAH,P.004,LANGKAWI,UNDI POS,53.43,46.57,743,346,397
1,2,KEDAH,P.004,LANGKAWI,UNDI AWAL,47.34,52.66,207,109,98
2,3,KEDAH,P.004,LANGKAWI,UNDI AWAL,68.68,31.32,348,109,239
3,3,KEDAH,P.004,LANGKAWI,UNDI AWAL,23.51,76.49,387,296,91
4,4,KEDAH,P.004,LANGKAWI,KUALA TERIANG,48.06,51.94,310,161,149

In [183]:
results_df.stb.freq(['parliament'])
#results_df.stb.freq(['state'])

          parliament  count   percent  cumulative_count  cumulative_percent
0             GOMBAK    245  4.401725               245            4.401725
1             TEBRAU    218  3.916637               463            8.318361
2             SEPANG    198  3.557312               661           11.875674
3         BATU PAHAT    188  3.377650               849           15.253324
4             TAMBUN    187  3.359684              1036           18.613008
5       KUALA LANGAT    187  3.359684              1223           21.972691
6    HULU TERENGGANU    159  2.856630              1382           24.829321
7             AMPANG    159  2.856630              1541           27.685950
8        KUBANG PASU    150  2.694934              1691           30.380884
9      TANJONG MALIM    142  2.551204              1833           32.932088
10        ALOR GAJAH    142  2.551204              1975           35.483291
11  BANDAR TUN RAZAK    140  2.515271              2115           37.998563
12       TANAH MERAH    137  2.461373              2252           40.459935
13    INDERA MAHKOTA    136  2.443406              2388           42.903342
14     LEMBAH PANTAI    134  2.407474              2522           45.310816
15     BUKIT GANTANG    132  2.371542              2654           47.682357
16      NIBONG TEBAL    131  2.353575              2785           50.035932
17       BAGAN SERAI    126  2.263744              2911           52.299677
18       SETIAWANGSA    121  2.173913              3032           54.473590
19     TASEK GELUGOR    120  2.155947              3152           56.629536
20       PASIR SALAK    118  2.120014              3270           58.749551
21       KUALA PILAH    118  2.120014              3388           60.869565
22             PAGOH    115  2.066116              3503           62.935681
23             KUDAT    115  2.066116              3618           65.001797
24            JERLUN    113  2.030183              3731           67.031980
25             LARUT    111  1.994251              3842           69.026231
26           SEGAMAT    109  1.958318              3951           70.984549
27        TITIWANGSA    108  1.940352              4059           72.924901
28      MASJID TANAH    108  1.940352              4167           74.865253
29        SRI GADING    106  1.904420              4273           76.769673
30              MUAR    105  1.886453              4378           78.656126
31           MERSING    105  1.886453              4483           80.542580
32      SUNGAI BESAR    101  1.814589              4584           82.357169
33              JELI    100  1.796622              4684           84.153791
34       BAGAN DATUK     98  1.760690              4782           85.914481
35      SABAK BERNAM     94  1.688825              4876           87.603306
36             RANAU     93  1.670859              4969           89.274165
37   SIMPANG RENGGAM     91  1.634926              5060           90.909091
38           LIBARAN     89  1.598994              5149           92.508085
39          LANGKAWI     87  1.563061              5236           94.071146
40           BELURAN     75  1.347467              5311           95.418613
41          BEAUFORT     71  1.275602              5382           96.694215
42     PADANG RENGAS     70  1.257636              5452           97.951851
43          SIPITANG     67  1.203737              5519           99.155587
44         PUTRAJAYA     47  0.844413              5566          100.000000

In [184]:
#results_df = results_df[results_df['state']==scW.value]
results_df = results_df[results_df['parliament']==cityW.value]

In [185]:
results_df['actual_margin'] = results_df['gov'] - results_df['opp']
results_df['poll_margin'] = results_df['gov_poll'] - results_df['opp_poll']
results_df['error'] = abs(results_df['actual_margin'] - results_df['poll_margin'])
results_df

<ipython-input-185-b518a7c8c813>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_df['actual_margin'] = results_df['gov'] - results_df['opp']
<ipython-input-185-b518a7c8c813>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_df['poll_margin'] = results_df['gov_poll'] - results_df['opp_poll']
<ipython-input-185-b518a7c8c813>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_df['error'] = abs(results_df['actual_margin'] - results_df['poll_margin'])

,no,state,kodpar,parliament,PDM,gov,opp,total voters,opp_poll,gov_poll,actual_margin,poll_margin,error
1741,1,PERAK,P.075,BAGAN DATUK,UNDI POS,77.62,22.38,983,220,763,55.24,543,487.76
1742,2,PERAK,P.075,BAGAN DATUK,UNDI AWAL,92.59,7.41,54,4,50,85.18,46,39.18
1743,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,98.77,1.23,81,1,80,97.54,79,18.54
1744,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,55.60,44.40,277,123,154,11.20,31,19.80
1745,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,59.91,40.09,217,87,130,19.82,43,23.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834,42,PERAK,P.075,BAGAN DATUK,KAMPONG KEBUN BARU,67.32,32.68,254,83,171,34.64,88,53.36
1835,42,PERAK,P.075,BAGAN DATUK,KAMPONG KEBUN BARU,67.33,32.67,499,163,336,34.66,173,138.34
1836,42,PERAK,P.075,BAGAN DATUK,KAMPONG KEBUN BARU,52.15,47.85,466,223,243,4.30,20,15.70
1837,43,PERAK,P.075,BAGAN DATUK,KAMPONG TELOK BULOH,56.84,43.16,468,202,266,13.68,64,50.32
1838,44,PERAK,P.075,BAGAN DATUK,KAMPONG KOTA,58.96,41.04,463,190,273,17.92,83,65.08

In [186]:
df['undecided'] = 100 - df['gov'] - df['opp']
df['notvote'] = df['undecided']
df['actual_margin'] = results_df['actual_margin']
df['poll_margin'] = results_df['poll_margin']
df['error'] = results_df['error']

<ipython-input-186-2cfe166cb610>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['undecided'] = 100 - df['gov'] - df['opp']
<ipython-input-186-2cfe166cb610>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['notvote'] = df['undecided']
<ipython-input-186-2cfe166cb610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actual_margin'] = results_df['actual_margin']
<ipython-input-186-2cfe166cb610>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['poll_margin'] = results_df['poll_margin']
<ipython-input-186-2cfe166cb610>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['error'] = results_df['error']

In [187]:
df['gov'] = df['gov'] + 0.5 * df['undecided']
df['opp'] = df['opp'] + 0.5 * df['undecided']
df = df[['gov', 'opp','notvote', 'actual_margin','poll_margin', 'error']]

<ipython-input-187-885fbad269a4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gov'] = df['gov'] + 0.5 * df['undecided']
<ipython-input-187-885fbad269a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opp'] = df['opp'] + 0.5 * df['undecided']

In [188]:
means = df.mean()
avg_error = results_df['error'].mean()

In [189]:
results_df.head()

,no,state,kodpar,parliament,PDM,gov,opp,total voters,opp_poll,gov_poll,actual_margin,poll_margin,error
1741,1,PERAK,P.075,BAGAN DATUK,UNDI POS,77.62,22.38,983,220,763,55.24,543,487.76
1742,2,PERAK,P.075,BAGAN DATUK,UNDI AWAL,92.59,7.41,54,4,50,85.18,46,39.18
1743,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,98.77,1.23,81,1,80,97.54,79,18.54
1744,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,55.60,44.40,277,123,154,11.20,31,19.80
1745,3,PERAK,P.075,BAGAN DATUK,UNDI AWAL,59.91,40.09,217,87,130,19.82,43,23.18

In [190]:
gov_victories = 0

for x in range(0, 100000):
    error = np.random.normal(scale=avg_error)
    
    adj_gov = means['gov'] + error
    adj_opp = means['opp'] - error
        
    if adj_gov > adj_opp:
        gov_victories = gov_victories + 1
        
gov_victories / 100000

0.51583

In [191]:
gov_victories = 0

for x in range(0, 100000):
    error = np.random.normal(scale=avg_error)
    
    adj_gov = means['gov'] + error
    adj_opp = means['opp'] - error
        
    if adj_gov > adj_opp:
        gov_victories = gov_victories + 1
        
trial1 = gov_victories / 100000

In [192]:
gov_victories = 0

for x in range(0, 100000):
    error = np.random.normal(scale=avg_error)
    
    adj_gov = means['gov'] + error
    adj_opp = means['opp'] - error
        
    if adj_gov > adj_opp:
        gov_victories = gov_victories + 1
        
trial2 = gov_victories / 100000

In [193]:
gov_victories = 0

for x in range(0, 100000):
    error = np.random.normal(scale=avg_error)
    
    adj_gov = means['gov'] + error
    adj_opp = means['opp'] - error
        
    if adj_gov > adj_opp:
        gov_victories = gov_victories + 1
        
trial3 = gov_victories / 100000

In [194]:
gov_victories = 0

for x in range(0, 100000):
    error = np.random.normal(scale=avg_error)
    
    adj_gov = means['gov'] + error
    adj_opp = means['opp'] - error
        
    if adj_gov > adj_opp:
        gov_victories = gov_victories + 1
        
trial4 = gov_victories / 100000

In [195]:
gov_victories = 0

for x in range(0, 100000):
    error = np.random.normal(scale=avg_error)
    
    adj_gov = means['gov'] + error
    adj_opp = means['opp'] - error
        
    if adj_gov > adj_opp:
        gov_victories = gov_victories + 1
        
trial5 = gov_victories / 100000

In [196]:
print('1 trial : ', trial1)
print('2 trial : ', trial2)
print('3 trial : ', trial3)
print('4 trial : ', trial4)
print('5 trial : ', trial5)

1 trial :  0.51177
2 trial :  0.51519
3 trial :  0.51656
4 trial :  0.51472
5 trial :  0.51626