In [1]:
import pandas as pd
import pyreadstat

In [3]:
df, meta = pyreadstat.read_sav("6D 4D HES 2019 02062020 (HH)_54501.sav")

In [4]:
df.head()

,HID,BNO,P,S,CAW,NG,DP,DB,BP,ST,...,g131398,g131401,g131402,g131403,@_merge1,@_merge2,wgt_hes,@_merge3,dec_incHIS1,bmt_incHIS1
0,4040810101010031020001000401,404,08,1,01,01,01,003,102000,1,...,0.0,0.0,0.0,0.0,3.0,3.0,217.174717,3.0,3.0,1.0
1,4050610101010640460001004901,405,06,1,01,01,01,064,046000,1,...,0.0,0.0,0.0,0.0,3.0,3.0,217.174717,3.0,8.0,2.0
2,40211101010100312500A1005701,402,11,1,01,01,01,003,12500A,1,...,0.0,0.0,0.0,0.0,3.0,3.0,217.174717,3.0,6.0,2.0
3,4020910101010010800AB2002101,402,09,1,01,01,01,001,0800AB,2,...,0.0,0.0,0.0,0.0,3.0,3.0,217.174717,3.0,4.0,1.0
4,4060910101010030880001002101,406,09,1,01,01,01,003,088000,1,...,0.0,0.0,0.0,0.0,3.0,3.0,217.174717,3.0,4.0,1.0

In [5]:
df.to_csv("HES_kakHawa.csv")