## Installation package

In [5]:
#pip install pandas
#pip geopandas

## Import package

In [1]:
import pandas as pd
from geopandas. tools import geocode

## Set file directory

In [2]:
addr = pd.read_csv(r"C:\Users\Najmi Ariffin\Documents\Research\Data DC\sample_addr.csv") #file directory
addr = addr.head(30:50) #search for place at 30-50 rows on the list
addr.tail(3) #check last 3 place on dataset

    no                    place
25  26  Islamic Arts Museum, KL
26  27         Kampung Baru, KL
27  28            Kampung Setar

In [3]:
# Iterate through the addr DataFrame
for index, row in addr.iterrows():
    try: 
        print(row['place'])
        info = geocode(str(row['place']), provider = 'photon' )
        addr.loc[int(index), 'Address'] = info['address'].loc[0]
        addr.loc[int(index), 'Lon'] = info['geometry'].loc[0].x
        addr.loc[int(index), 'Lat'] = info['geometry'].loc[0].y
        
    except TypeError:
        print ('Geocoding information for '+ row['place']+ " is not found!")
        print ('')

# Removing the Nan rows 
#addr = addr.dropna()

A' Famosa Resort, Malacca
Alor street food night market, KL
Geocoding information for Alor street food night market, KL is not found!

Aquaria KLCC, at KLCC tower, KL
Geocoding information for Aquaria KLCC, at KLCC tower, KL is not found!

Bakelalan, Sarawak
Bario , Sarawak
Batu Caves, Selangor
Batu Ferringhi, George Town
Berjaya Hills Resort. French-themed village
Geocoding information for Berjaya Hills Resort. French-themed village is not found!

Berjaya Times Square KL, KL
Bukit Bintangwalk, KL
Cruise Tasik Putrajaya (CTP) Lake cruises, boat rides, Putrajaya
Geocoding information for Cruise Tasik Putrajaya (CTP) Lake cruises, boat rides, Putrajaya is not found!

Cameron Highlands, Pahang
Central Market, KL
Cheng Hoon Teng Temple (青云亭), Malacca
Geocoding information for Cheng Hoon Teng Temple (青云亭), Malacca is not found!

Chin Swee Caves Temple, Pahang
Crystal Mosque, Kuala Terengganu
Dhammikarama Burmese Temple, Penang
Dong Zen Temple, Selangor
Eye on Malaysia, Malacca
Forest Research Institute Malaysia (FRIM)
Fort Cornwallis, George Town
Fraser's Hill
Genting Highlands, Pahang
Gurney Drive, George Town
Iskandar waterfall Kota Tinggiwaterfalls
Geocoding information for Iskandar waterfall Kota Tinggiwaterfalls is not found!

Islamic Arts Museum, KL
Kampung Baru, KL
Kampung Setar

## Check the result

In [6]:
addr.head()

,no,place,Address,Lon,Lat
0,1,"A' Famosa Resort, Malacca","a famosa resort hotel , Jalan Alor Gajah–Tampi...",102.216805,2.403617
1,2,"Alor street food night market, KL",NaN,NaN,NaN
2,3,"Aquaria KLCC, at KLCC tower, KL",NaN,NaN,NaN
3,4,"Bakelalan, Sarawak","Lapangan Terbang Bakelalan, Ba'kelalan, Sarawa...",115.617550,3.974064
4,5,"Bario , Sarawak","Bario, Sarawak, Malaysia",115.460371,3.747920

## Save the result to csv

In [57]:
addr.to_csv('bestplace_msia.csv')
#addr.to_csv('johor_lg.csv', mode='a', header=False) #append the list